<!doctype html>
<html ng-app="app">
	<head>
		<title ng-bind="title"></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

		<link 	href="/public/css/style.css" rel="stylesheet" type="text/css"/>
		<script src="/dist/app.bundle.js"></script>
		<script src="/dist/vendor.bundle.js"></script>
	</head>
	<body ng-view ng-cloak>
		<div id="background"></div>		
		
		<section id="score-header">
			<form action="#">
				<fieldset>
					<h1> {{ score }} </h1>
					<button ng-click="gameStateChange('Start')" ng-if="gameState=='Start'">
						{{ gameState }}
					</button>
					<button ng-click="gameStateChange('Resume')" ng-if="gameState=='Pause'">
						{{ gameState }}
					</button>
					<button ng-click="gameStateChange('Pause')" ng-if="gameState=='Resume'">
						{{ gameState }}
					</button>
					<label for="speed">Speed: {{ speed }}</label>
					<input 	type="range" id="speed" name="speed" ng-model="speed" min="10" max="100" 
							ng-mouseup="changeSpeed(speed)" ng-mousedown="hideBubbles()">
				</fieldset>
			</form>
		</section>
