form {
	background: $blue;
	position: fixed;
	left: 1%;
	right: 1%;
	width: 98%;
	height: 150px;
	margin: 0 auto; 
	border: 1px solid grey;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
	padding: 1% 5%;
	z-index: 1;

	#score-header {

		#bubble-count {

		}
	}	
}

